@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');

body {
  font-family: 'EB Garamond', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
}

